body {
  text-align: center;
}

header {
  font-size: 80px;
  font-family: "Sagoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 100px;
  background-color: darkgrey;
  color: white;
}

main{
    background-color: red;
    padding: 100px;
    margin-top: auto;
}

#base{
    background-color: red;
}

.caixinha{
    background-color: green;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    border-color: black;
    border-width: 4px;
    border-style: solid;
}

.caixinha2{
    background-color: green;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    border-color: black;
    border-width: 4px;
    border-style: solid;
}

footer{
    margin-top: auto;
    padding: 80px;
    background-color: dimgray;
    text-align: center;
    font-size: 30px;
    color: white;
}

